# dependencias
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/
next-env.d.ts

# produccion
/build

# pwa generado
/public/sw.js
/public/sw.js.map
/public/swe-worker-*.js

# entorno
.env
.env.local
.env*.local

# vercel
.vercel

# supabase local
/supabase/.branches
/supabase/.temp

# logs / sistema
*.log
.DS_Store
*.tsbuildinfo
